* {
    box-sizing: border-box;
}

body{
	background-image: url("../img/cabinfront.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100vh;
	max-width: 100vw;
	height: 100vh;
	width: 100vw;
	margin: 0;
	animation: torch linear 7s;
	
}


@keyframes torch{
	0% {opacity: 0;}
	
	
	
	100% {opacity: 1; }
}

.pulse{
	animation: beat linear 1s infinite; 
}



#nav {
	max-height: 75px;
	width: 100vw;
	position: absolute;
	bottom: 0;
}

.column{
	text-align:right;
	width: 50vw;	
	float: left;
	height: 50px;
}

.container{
	position: relative;
	height: 99vh;
	width: 90vw;	
	clear: both;
}

.nav_arrows:after{
	content: "";
    display: table;
    clear: both;
}

.nav_img {
	max-height: 50px;
	max-width: 50px;
}

#up_arrow{
	transform: rotate(180deg);
}

#right_arrow{
	transform: rotate(270deg);
}

.nav_arrows a:link{
}

.nav_arrows a:hover{
	border: purple dashed;
	padding-top: 30pt;
}

.topnav {
    overflow: hidden;
    background-color: #333;
	width: 100vw;
	opacity: .8;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#desc{
	color: white;
	width: 25vw;
	opacity: .5;
}














