body{
	background-image: url("../img/snow_path.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	overflow: hidden;
	clear: both;	
}


#nav {
	max-height: 75px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.column{
	width: 50%;	
	float: left;
	height: 50px;
}

#l_arrow{
	text-align: left;
}

#r_arrow{
	text-align:right;
}


.container{
	position: relative;
	height: 93vh;
	width: 100%;
	
}

.nav_arrows:after{
	content: "";
    display: table;
    clear: both;
}

.nav_img {
	max-height: 50px;
	max-width: 50px;
}

#left_arrow{
	transform: rotate(90deg);
	animation: beat linear 7s infinite;
}

#right_arrow{
	transform: rotate(270deg);
	animation: beat linear 7s infinite;
}

.nav_arrows a:link{
}

.nav_arrows a:hover{
	border: purple dashed;
	padding-top: 30pt;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.pulse{
	animation: beat linear 1s infinite; 
}

@keyframes beat{
	0% {opacity: 1;}
	50% {opacity: .1;}
	100% {opacity: 1;}
}

