body{
	background-image: url("../img/game_over.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	overflow: hidden;
	clear: both;	
}

.container{
	position: relative;
	height: 93vh;
	width: 100%;	
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#g_o_img{
	width: 30vw;
	height: 30vh;
	opacity: .3;
	margin-left: 33%;
}
