




body{
	background-image: url("../img/basement2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}





img{
	position: fixed;
	max-width:40px; 
	color:red; 
	top:15%; 
	left:65%;
	/*display: none;*/

	color: red;
	animation: beat linear 7s infinite; 	
}



.pulse{
	animation: beat linear 1s infinite; 
}


@keyframes beat{
	0% {opacity: 1;}
	
	50% {opacity: .1;}
	
	100% {opacity: 1;}
}



/* Rotating Image */
img.hint {
	position: fixed;
	max-width:40px; 
	color:red; 
	top:15%; 
	left:65%;
	/*display: none;*/

	color: red;
	animation: rotate ease 7s infinite;
	
}


@keyframes rotate{
	0% {-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		opacity: 1;}
	
	50% {-ms-transform: rotate(360deg); /* IE 9 */
		-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
		transform: rotate(360deg);
		opacity: 0.1;}
	
	100% {-ms-transform: rotate(0deg); /* IE 9 */
			-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			transform: rotate(0deg);
			opacity: 1;}
}



/* Hidden Paragraph*/

p {
    display: none;
	padding-left:15%;
	padding-right: 65%;
	padding-top: 22%;
	width: 25%;
	font-family: sans-serif;
	font-size: 16;
	color: white;
    background-color: orange;
    padding: 20px;
}

div:hover p {
    display: block;
}





/** TOP NAV **/
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;

}




