

body{
	background-image: url("../img/InsideCabinTorch.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}



li{
	color: orange;
}

div{
	color:orange;
}

p {
    display: none;
	padding-left:15%;
	padding-right: 65%;
	padding-top: 22%;
	font-family: sans-serif;
	font-size: 16;
	color: white;
    background-color: orange;
    padding: 20px;
}

div:hover p {
    display: block;
}

