body{
	background-image: url("../img/cabinfront.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100%;
	height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	overflow: hidden;
	clear: both;	
}


.title_head{
	text-align: center;
	color: blue;
	margin: auto;
	margin-top: 100pt;
	background-color: grey;
	width: 300pt;	
}

.menu{
	text-align: center;
	color: blue;
	margin-top: 100pt;
	background-color: grey;
	width: 200pt;
	margin: auto;
	margin-top: 200pt;
	opacity: 0.5;
}

.container{
	border: 5px red solid;
	width: 100%;
	height: 630pt;
}


